.content {
    background-color:rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

table {
    margin:auto;
    border-spacing: 1em;
    width:100%;
}

.pcard {
    width:90%;
    margin:auto;
    margin-top:1em;
}

button{
    background-color: rgba(0,0,0);
    margin: 1em;
    font-size:.75em;
    float: right;
}

tr button {
    width: 5em;
    float: left;
}

.description{
    overflow-wrap: break-word;
}

.options{
    float:right;
}

select{
    /**background-color: rgba(0,0,0);**/
    margin: 1em;
    font-size:.75em;
}

input {
    float:right;
    margin-left:1em;
}

td.boxed {
    border: 1px solid white;
    margin-top:1em;
    padding:1em;
    text-align:left;
    border-radius: 25px;
}

i {
  margin-left:.5em;
  margin-right:.5em;
}

p {
    padding:.5em;
    display:block;
    margin-bottom:1em;
    clear:both;
}

span input{
    float:right;
}

.recModal tr {
  margin-top:1em;
  padding:1em;
}

textarea {
    float:right;
    margin-left:1em;
    resize:none;
}

h3 {
    text-align: center;
}

.recModal {
    text-align:left;
    display:inline;
}

.recModList {
    margin-left: 1em;
}