<div class="content">
  <app-nav></app-nav>

  <div class="pcard">
    <p-card>
      <p-header>
      </p-header>
      <div class="table">
        <h3>Recipes</h3>
        <p-table [value]="recipes">
          <ng-template pTemplate="header">
            <tr>
              <th colspan="1">Title</th>
              <th colspan="3">Description</th>
              <th colspan="1">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-recipe>
            <tr>
              <td colspan="1">{{recipe.title}}</td>
              <td colspan="3">{{recipe.description}}</td>
              <td colspan="1" style="text-align: center;">
                <i class="pi pi-eye" title="View" style="font-size: 1.25rem"
                  (click)="getRecipe(recipe['id'])"></i>
                <i class="pi pi-copy" title="Copy" style="font-size: 1.25rem"
                  (click)="cloneRecipe(recipe['id'])"></i>
                <i class="pi pi-trash" title="Delete" style="font-size: 1.25rem"
                  (click)="deleteRecipe(recipe['id'])"></i>
                <i class="pi pi-play" title="Make" style="font-size: 1.25rem"
                  (click)="newBatch(recipe['id'])"></i>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <h3 style="float:right" (click)="addRecipe()">
          Add Recipe <i class="pi pi-plus" title="Add"></i>
        </h3>
      </div>
      <p></p>
      <div class="p-grid">
        <div class="p-col-4">
          <div class="table">
            <h3 style="float:right" (click)="grainModal=!grainModal">
              View/Select Grains <i class="pi pi-plus" title="Add"></i>
            </h3>
          </div>
        </div>
        <div class="p-col-4">
          <div class="table">
            <h3 style="float:right" (click)="hopModal=!hopModal">
              View/Select Hops <i class="pi pi-plus" title="Add"></i>
            </h3>
          </div>
        </div>
        <div class="p-col-4">
          <div class="table">
            <h3 style="float:right" (click)="yeastModal=!yeastModal">
              View/Select Yeast <i class="pi pi-plus" title="Add"></i>
            </h3>
          </div>
        </div>
      </div>



      <p-footer>

      </p-footer>
    </p-card>
  </div>
</div>

<p-dialog header="Recipe Details" [style]="{width: '40vw'}" [(visible)]="recipeSelected">
  <div class="description">
    <h3 class="recModal">Name: </h3>
    {{ recipeDetails['title'] }}
    <p></p>
    <h3 class="recModal">Description: </h3>
    {{ recipeDetails['description'] }}
    <p></p>
    <h3 class="recModal">Grains:</h3>
    <div class="recModList" *ngFor="let g of recipeDetails['grains']">
      {{ g['quantity'] }} lb {{ g['name'] }}
    </div>
    <h3 class="recModal">Hops:</h3>
    <div class="recModList" *ngFor="let k of recipeDetails['hops'] | keyvalue">
      {{ k.value['quantity'] }} oz {{ k.value['name'] }}
    </div>
    <p></p>
    <h3 class="recModal">Instructions: </h3>
    {{ recipeDetails['instructions'] }}
    <p></p>
    <div class="options">
      <button pButton label="Delete" (click)="deleteRecipe(recipeDetails['id'])"></button>
      <button pButton label="New Batch" (click)="newBatch(recipeDetails['id'])"></button>
    </div>
  </div>
</p-dialog>

<p-dialog header={{recipeModalTitle}} [(visible)]="recipeModal" width="40vw">
  <div class="recModal">
    <table>
      <tr>
        <td>Name:</td>
        <td></td>
        <td><input [(ngModel)]="selectedRecipe['title']" /></td>
      </tr>
      <tr>
        <td>Description:</td>
        <td></td>
        <td><input [(ngModel)]="selectedRecipe['description']" /></td>
      </tr>
      <tr>
        <td>Target Gravity:</td>
        <td></td>
        <td><input [(ngModel)]="selectedRecipe['OG']" /></td>
      </tr>

      <tr style="min-height: 50px; text-align:center">
        <td class="boxed" width="200px">
          <h3 (click)="grainModal=!grainModal">Grains <i class="pi pi-plus" title="Add"></i></h3>
          <span *ngFor="let c of selectedRecipe['grains']">
            <p>{{c.name}} <input type="number" style="width:4em" [(ngModel)]="c.quantity"></p>
          </span>
        </td>
        <td class="boxed" width="200px">
          <h3 (click)="hopModal=!hopModal">Hops <i class="pi pi-plus" title="Add"></i></h3>
          <span *ngFor="let c of selectedRecipe['hops']">
            <p>{{c.name}}<input type="number" style="width:4em" [(ngModel)]="c.quantity"></p>
          </span>
        </td>
        <td class="boxed" width="200px">
          <h3 (click)="yeastModal=!yeastModal">Yeast <i class="pi pi-plus" title="Add"></i></h3>
          <span *ngFor="let c of selectedRecipe['yeast']">
            <p>{{c.name}}<input type="text" style="width:4em" [(ngModel)]="c.quantity"></p>
          </span>
        </td>
      </tr>
      <tr>
        <td>Instructions:</td>
        <td colspan="2"><textarea rows="10" cols="50" [(ngModel)]="selectedRecipe['instructions']"></textarea></td>
      </tr>
    </table>

    <p><button pButton label="Save" (click)="saveRecipe()"></button></p>
  </div>

</p-dialog>

<p-dialog header="View Hops" [(visible)]="hopModal">
  <p-table #ht [showCurrentPageReport]="true" dataKey="id" [value]="hops" [autoLayout]="true"
    [globalFilterFields]="['name','description','type']">
    <ng-template pTemplate="caption">
      <div class="table-header">
Search Hops          <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="ht.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
          </span>
      </div>
  </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>Name </th>
          <th>Alpha</th>
          <th>Type</th>
          <th>Select</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-hop>
      <tr>
        <td>{{hop.name}}</td>
        <td>{{hop.alpha}}</td>
        <td>{{ hop.type }}</td>
        <td><p-checkbox [value]="hop" [(ngModel)]="selectedRecipe.hops"></p-checkbox></td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<p-dialog header="View Grains" [(visible)]="grainModal">
  <p-table #gt [showCurrentPageReport]="true" dataKey="id" [value]="grains" [autoLayout]="true"
    [globalFilterFields]="['name','description','type']">
    <ng-template pTemplate="caption">
      <div class="table-header">
Search Grains          <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="gt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
          </span>
      </div>
  </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>
          Name </th>
        <th>
          Description </th>
          <th>Type</th>
          <th>Select</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-grain>
      <tr>
        <td>{{grain.name}}</td>
        <td>{{grain.description}}</td>
        <td>{{ grain.type }}</td>
        <td><p-checkbox [value]="grain" [(ngModel)]="selectedRecipe.grains"></p-checkbox></td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<p-dialog header="View Yeast" [(visible)]="yeastModal">
  <p-table #yt [value]="yeast" [globalFilterFields]="['name','description','type']" [autoLayout]="true">
    <ng-template pTemplate="caption">
      <div class="table-header">
Search Yeasts         
 <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="yt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
          </span>
      </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Select</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-yeast>
      <tr>
        <td>{{yeast.name}}</td>
        <td>{{yeast.description}}</td>
        <td><p-checkbox [value]="yeast" [(ngModel)]="selectedRecipe.yeast"></p-checkbox></td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
